figures
*.ipynb_checkpoints*
/*.csv
Patrick*
data/bam/*.bam
data/bam/*.bai
data/fastq/*.gz
data/fastq/*.fq
data/fastq/*.fastq
data/fastq/*.csv
data/*.log
data/*.out
data/test_data*
data/refgenomes/*
!data/refgenomes/.gitinclude
data/samples/*
!data/samples/.gitinclude
data/sourceFile/*.gtf
data/sourceFile/*.fa
data/sourceFile/old*
data/sourceFile/*.fasta
data/out/*.RDS
data/out/*.txt
data/out/*.pdf
data/out/*.png
data/out/*.csv
data/out/*
*.csv
*.fastq
*.zip
*.gz
*.bam
*.bai
*.fasta
*.fa
